# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List tools for Data Science
- List arithmetic expression examples
- How to use Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy

| Data Science Tools |
| ------ |
| Spyder |
| JupyterLabs |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [4]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60*

In [10]:
minutes = float(input("Input time in minutes: "))
hours = minutes / 60
print("The hours is:", hours)

Input time in minutes:  200

The hours is: 3.3333333333333335